* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: black;
    height: 100vh;
    position: relative;
}
#header {
    background-color: black;
}
#title {
    color: teal;
    padding-left: 20px;
    padding-top: 10px;
}
#buttonBox {
    display: block;
    width: 90%;
    margin: 10px auto 0 auto;
}
button {
    width: 50px;
    background-color: #bbb;
    color: black;
    border:1px solid #ff9000;
    border-radius: 10px;
}
#writeBtn {
    float: left;
}
#readBtn {
    float: right;
}


#main-book-container {
    display: block;
    width: 90%;
    height: 80vh;
    margin: 50px auto auto auto;
    background-color: #bbb;
    border: 4px solid #ff9000;
    border-radius: 15px;
    overflow: auto;
    transition-duration: 1000ms;          
}
.main-boo {
    display: block;
    width: 90%;
    height: 80vh;
    margin: 50px auto auto auto;
    background-color: #bbb;
    border: 4px solid #ff9000;
    border-radius: 15px;
    overflow: auto;
    transform: translate(-1000px);
} 
#readBook {
    visibility: hidden;
    display: block;
    position: 1000px;
    width: 90%;
    height: 80vh;
    margin: 50px auto auto auto;
    background-color: #666699;
    border: 4px solid #ff9000;
    border-radius: 15px;
    overflow: auto;
    transition-duration: 1000ms;
}
#readBook.main-rea {
    visibility: visible;
    display: block;
    width: 90%;
    height: 80vh;
    margin: 50px auto auto auto;
    background-color: #bbb;
    border: 4px solid #ff9000;
    border-radius: 15px;
    overflow: auto;
    transform: translateY(-561px);
}


.book_title {
    display: block;
    padding-left: 10px;
    border-bottom: 1px solid black;
}
.chapter {
    border-bottom: 1px solid black;
}
.section1 .section2 .section3 .section4 {
    height: 50px;
    overflow: auto;
}
h2 {
    font-size: 1.2em;
}
h3 {    
    padding-left:  5px;
    font-size: 1.0em;
    display: inline;
}
h4 {
    color: teal;   
}
.chapter-text {
    height: 250px;    
}
#msg {
    height: 0;
}


/* #toggle1:checked ~ label::before {
content: "";
} */


#expand {
    height: 0px;
    overflow: auto;
    transition: height 0.5s;
    color: #FFF;
  }

#toggle1:checked ~ #expand {
height: 250px;
}
#toggle2:checked ~ #expand {
    height: 250px;
    }
#toggle3:checked ~ #expand {
    height: 250px;
    }
#toggle4:checked ~ #expand {
    height: 250px;
    }
#toggle5:checked ~ #expand {
    height: 250px;
    }
#toggle6:checked ~ #expand {
    height: 250px;
    }
#toggle7:checked ~ #expand {
    height: 250px;
    }
#toggle8:checked ~ #expand {
    height: 250px;
    }
#toggle9:checked ~ #expand {
    height: 250px;
    }
#toggle10:checked ~ #expand {
    height: 250px;
    }
#Toggle1:checked ~ #expand {
    height: 250px;
    }           
#Toggle2:checked ~ #expand {
    height: 250px;
    }
#Toggle3:checked ~ #expand {
    height: 250px;
    }
#Toggle4:checked ~ #expand {
    height: 250px;
    }
#Toggle5:checked ~ #expand {
    height: 250px;
    }
#Toggle6:checked ~ #expand {
    height: 250px;
    }
#Toggle7:checked ~ #expand {
    height: 250px;
    }
#Toggle8:checked ~ #expand {
    height: 250px;
    }
#Toggle9:checked ~ #expand {
    height: 250px;
    }
#Toggle10:checked ~ #expand {
    height: 250px;
    }



















#target {
    width: 100%; 
    height: 100px;
    color: black;
}






.section1 {
    /* height: 250px; */
}

.part-a {
    height: 250px;
    overflow: auto;
}
.part-b {
    height: 250px;
    overflow: hidden;
}

.title-label {
    display: inline;
    margin-left: 30px;
    color: #ffffff
}

textarea[name="bob"] {
 
    background: #dddddd;
}

textarea[name="txt-area-title"] {
    margin: 0 0 -4px 24px;
    background: #ffffff;
}

