* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #aaaabf; */
    background-color: black;
}

            #header {
                display: block;
                position: fixed;
                width: 100%;
                height: 40px;
                background-color: black;
                color: teal;
                top: 0;
                border: 2px solid black;
                border-radius: 0 0 10px 10px;
            }
            #title {
                /* text-align: center; */
                margin-left: 30px;
            }
            /* #hidden-header {
                height: 16px;
                width: 100%;
                display: inline-block; 
            }*/
            footer {
                display: block;
                background-color: black;
                margin: 0;
                position: fixed;
                bottom: 0;
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            #footer-words {
                margin-left: 30px;
                font-size: small;
                color: teal;
                padding: 10px;
            }

#main-container {
    display: block;
    background-color: tomato;
    margin: 30px 0 20px;
    height: 2720px;
}

            #flexbox-container {
                display: block;
                background-color: #aaaabf;
                /* background-image: url('images/lake.jpg'); */
                height: 1350px;
            }
                        .item-flexbox {
                            display: flex;
                            height: 140px;
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            /* background-color: teal; */
                            background-color: rgb(0, 128, 128, .5);
                            border: 2px solid black;
                            border-radius: 10px;
                        }
                                    .flexbox-picture1 {
                                        display: inline-table;
                                        background-image: url('images/shoes.jpg');
                                        float: left;
                                        margin: 0px 10px 0 0px;
                                        height: 75px;
                                        width: 90px;
                                    }
                                    .flexbox-picture2 {
                                        background-image: url('images/shoes.jpg');
                                        float: left;
                                        margin: 0px 10px 0 50px;
                                        height: 75px;
                                        width: 90px;
                                    }
                                    .flexbox-picture3 {
                                        background-image: url('images/shoes.jpg');
                                        float: left;
                                        margin: 0px 10px 0 100px;
                                        height: 75px;
                                        width: 90px;
                                        cursor: pointer;
                                    }
                                    .flexbox-text {
                                        float: right;
                                        text-align: center;
                                        font-size: 1rem;
                                        overflow: hidden;
                                        padding: 15px 10px;
                                    }
                                    .text {
                                        font-size: 14pt;
                                    }
                                    

            #picture-container {
                display: block;
                background-image: url('images/lake.jpg');
                width: 100%;
                height: 1370px;
            }
                            #float-container {
                                float: left;
                                /* right: 0px; */
                                height: 1360px;
                                width: 300px;
                            }
                            .float {
                                float: left;
                                margin-top: 47px;
                                margin-left: 10px;
                                border-radius: 10px;
                                height: 140px;
                                width: 200px;
                                background-color: rgb(0, 128, 128, .5);
                            }



@media only screen and (max-width: 600px) {
    #main-container {
      height: 2720px;
    }
  }