* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: violet;
}
            #header {
                display: block;
                position: fixed;
                width: 100%;
                height: 40px;
                background-color: black;
                color: teal;
                top: 0;
                border: 2px solid black;
                border-radius: 0 0 10px 10px;
            }
            #title {
                /* text-align: center; */
                margin-left: 30px;
            }
            #hidden-header {
                height: 16px;
                width: 100%;
                display: inline-block;
            }
            footer {
                display: block;
                background-color: black;
                margin: 0;
                position: fixed;
                bottom: 0;
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            #footer-words {
                margin-left: 30px;
                font-size: small;
                color: teal;
                padding: 10px;
            }

#main-container {
    display: block;
    background-color: tomato;
    margin: 30px 0 20px;
    height: 2720px;
}

            #flexbox-container {
                display: block;
                background-color: violet;
                height: 1350px;
            }
                        .item-flexbox {
                            display: flex;
                            height: 140px;
                            margin-top: 10px;
                            background-color: teal;
                            border: 2px solid black;
                            border-radius: 10px;
                        }
                                    .flexbox-picture1 {
                                        /* display: inline-block; */
                                        background-image: url('images/shoes.jpg');
                                        float: left;
                                        margin: 10px 0 0 10px;
                                        height: 75px;
                                        width: 90px;
                                    }
                                    .flexbox-picture2 {
                                        /* display: inline-block; */
                                        background-image: url('images/shoes.jpg');
                                        float: left;
                                        margin: 10px 0 0 60px;
                                        height: 75px;
                                        width: 90px;
                                    }
                                    .flexbox-picture3 {
                                        /* display: inline-block; */
                                        background-image: url('images/shoes.jpg');
                                        float: left;
                                        margin: 10px 0 0 110px;
                                        height: 75px;
                                        width: 90px;
                                    }

            #picture-container {
                display: block;
                background-image: url('images/lake.jpg');
                width: 100%;
                border-top: 2px solid black;
                border-radius: 10px;
                height: 1370px;
            }



@media only screen and (max-width: 600px) {
    #main-container {
      height: 2720px;
    }
  }